*::-webkit-scrollbar {
    width: 7px; /* ширина scrollbar */
    height: 9px;
  }
*::-webkit-scrollbar-track {
    background: rgb(255, 255, 255); /* цвет дорожки */
    border-radius: 25px;
  }
*::-webkit-scrollbar-thumb {
    background-color: #b3e3fb; /* цвет плашки */
    border-radius: 20px; /* закругления плашки */
    border: 3px solid #b3e3fb;  /* padding вокруг плашки */
  }
.current_task_field{
    margin-left: 20px !important;
    width: 30vw;
}
.dashboard-navbar-group-btn{
    display: flex;
    align-items: flex-end !important;
}
.logo_main{
    display: flex;
    text-decoration: none;
    svg{
        height: 70px;
        width: 70px;
    }
}
.logo_title{
    color: white;
    margin-left: 15px;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    span{
        font-size: small;
    }
}
.custom_table{
    margin-top: 40px;
}
.custom_box{
    margin-top: 40px;
}
.custom_tree{
    width: 100%;
    max-width: none !important;
    max-height: none !important;
    height: 100% !important;
}

.custom_sidebar{
    padding: 20px;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 30vw;
    min-width: 420px;
    z-index: 999999;
    height: 100%;
    background: white;
    animation: animation_sidebar linear 0.4s alternate;
    overflow-x: hidden;
}
.custom_sidebar_w60{
    padding: 20px;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 60vw;
    min-width: 520px;
    max-width: 60vw;
    z-index: 999999;
    height: 100%;
    background: white;
    animation: animation_sidebar_w60 linear 0.5s alternate;
    overflow-x: hidden;

    .MuiTableRow-root{
        box-shadow: 0px 1px 1px rgb(100 116 139 / 20%), 0px 1px 2px rgb(100 116 139 / 20%) !important;
    }

    @media(max-width: 1500px){
        max-width: 70vw;
        width: 70vw;
        animation: animation_sidebar_w70 linear 0.5s alternate;
    }
}
@keyframes animation_sidebar {
    0%{
        width: 0vw;
        min-width: 0px;
    }
    100%{
        width: 30vw;
        min-width: 420px;
    }
}
@keyframes animation_sidebar_w60 {
    0%{
        width: 0vw;
        min-width: 0px;
    }
    100%{
        width: 60vw;
        min-width: 420px;
    }
}
@keyframes animation_sidebar_w70 {
    0%{
        width: 0vw;
        min-width: 0px;
    }
    100%{
        width: 70vw;
        min-width: 420px;
    }
}
.custom_zagl{
    z-index: 999998;
    background: black;
    opacity: 0.5;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
}
.custom_nomenclature_input{
    width: 100%;
    max-width: none !important;
}
.btn_group{
    margin-top: 15px;
    display: flex;
    justify-content: right;
    animation: animation_btn 0.4s linear alternate;
}
@keyframes animation_btn {
   0%{
    transform: translateX(400px);
   }
   100%{
    transform: translateX(0px);
   } 
}
.btn_group_wrapper{
    display: flex;
}
.btn_cancel{
    background: #D2D2D2;
    margin-right: 10px;
    padding: 2px;
    width: 120px;
    text-align: center;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.btn_delete{
    background: #D20707;
    margin-right: 10px;
    padding: 4px;
    width: 120px;
    text-align: center;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.btn_save{
    background: #042143;    
    padding: 2px;
    width: 120px;
    text-align: center;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.btn_save_change{
    background: #042143;    
    padding: 4px;
    width: fit-content;
    text-align: center;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 120px;
    animation: animation_btn 0.4s linear alternate;
}
.nomenclature_detail{
    margin-top: 10px;
    font-size: xx-large;
    font-weight: 500;
    width: calc(31.5vw);
    border-bottom: 1px solid black;
    margin-left: -20px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    @media(max-width: 1500px){
        width: calc(100% + 40px);
    }
}
.nomenclature_detail_w60{
    margin-top: 10px;
    font-size: xx-large;
    font-weight: 500;
    width: calc(100% + 40px);
    border-bottom: 1px solid black;
    margin-left: -20px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    @media(max-width: 1500px){
        width: calc(100% + 40px);
    }
}
.parametr_search_group{
    display: flex;
    align-items: flex-end;
}
.btn_add{
    max-height: 30px;
    min-width: 130px;
    margin-left: 10px;
    animation: animation_btn 0.4s linear alternate;
}
.article_search_block{
    margin-top: 30px;
    height: fit-content;
    max-height: 400px;
    overflow-y: scroll;
    min-width: 350px;
}
.article_search{
    display: flex;
    align-items: flex-end;
    width: 100% !important;
    max-width: none !important;
}
.article_search_name{
    width: 100%;
}
.article_search_btn_change{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../icons/nomenclature/delete_img.svg');
    height: 20px;
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.article_back_btn_delete{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../icons/learn/back_delete.svg');
    height: 20px;
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    opacity: 0.4;
}
.btn_wrapper{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.article_search_btn_save{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../icons/nomenclature/approve_img.svg');
    height: 20px;
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.product_card_wrapper{
    min-height: 50vh !important;
}
.btn_save_change{
    margin-top: 10px;
    background: #042143;    
    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;
    width: fit-content;
    text-align: center;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.nomenclature_tree_key{
    margin-top: 1px;
    border-bottom: 1px solid rgb(174, 174, 174);
}

.page_visible{
    overflow-y: hidden;
    max-height: calc(100vh - 64px);
}
.nomenclature_detail_title{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: rgba($color: #000000, $alpha: 0.7);
}
.learn_group_btn{
    display: flex;

}
.learn_btn_active{
    background: #042143;
    border-radius: 2px;
    color: white;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}
.learn_btn{
    background: #a2a2a2;
    border-radius: 2px;
    color: white;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}
.learn_tree_key{
    margin-top: 1px;
    // border-bottom: 1px solid rgb(174, 174, 174);
    display: flex;
    align-items: flex-end;
    margin-bottom: 5px;
}
.btn_send_learning{
    background: #5EB705;
    border-radius: 2px;
    color: white;
    text-align: center;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}